<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmu.seckill.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.xmu.seckill.entity.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_info (user_id, goods_id, quantity, create_time )
        VALUES (#{userId}, #{goodsId}, #{quantity}, #{createTime})
    </insert>

    <select id="getOrderById" resultType="com.xmu.seckill.entity.Order">
        SELECT id, user_id, goods_id, quantity, create_time
        FROM order_info
        WHERE id = #{id}
    </select>

</mapper>
